* {
    box-sizing: border-box;
}

.rx-search__wrap {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}

.rx-search__input {
    font-size: 14px;
    line-height: 1;
    color: #333;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #d9d9d9;
    border-radius: 3px;
    outline: none;
    -webkit-transition: border .3s linear;
    -moz-transition: border .3s linear;
    -ms-transition: border .3s linear;
    -o-transition: border .3s linear;
    transition: border .3s linear;
}

.rx-search__input:focus {
    border-bottom: 2px solid #5fa4f9;
}

.rx-result-item {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.rx-result-item:last-child {
    margin-bottom: 0;
}

.rx-result-item__header {
    padding: 10px 15px;
    border-bottom: 2px solid #ccc;
}

.rx-result-item__header h2 {
    font-size: 22px;
    line-height: 1;
    color: #333;
    margin: 0;
}

.rx-result-item__link {
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    color: #5fa4f9;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.rx-result-item__link:hover {
    color: #2e7dde;
}

.rx-result-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 15px;
}

.rx-result-item__desc {
    font-size: 20px;
    line-height: 1.1;
    color: #333;
    margin: 0 0 10px;
}

.rx-result-item__stars {
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
}

.rx-result-item__stars .star-svg {
    background-color: #000;
    margin-right: 5px;
}

.rx-result-item__stars .star-svg path {
    fill: #fff;
}